.cointainer {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

h2 {
    max-width: 450px;
    font-size: 42px;
    font-weight: 500;
    color: #fff;
    margin-left: 8%;
    padding: 2.4rem;
    animation-duration: 2s;
    animation-name: slideOpacityOn;
}

h2 .memories {
    font-size: 42px;
    font-weight: 600;
    color: var(--background-button-dark);
}

ul {
    list-style: none;
}

.sections {
    width: 100%;
    padding: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    animation-duration: 2s;
    animation-name: slidein;
}

select, input {
    margin: 10px 10px 10px 2px;
    padding: 10px;
    text-align: center;
    color: var(--white);
    font-weight: 600;
    background: rgba(255, 255, 255, 0.171);

    border: 0;
    border-radius: 15px;
    outline: none;
    cursor: pointer;
    transition: 0.5s;
}

select option {
    font-weight: 500;
    color: var(--background-button);
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

button {
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 8px;
    outline: none;
    
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Hind', sans-serif;

    color: var(--white);
    background-color: var(--background-button);
    transition: 0.4s;
}

button:hover {
    background-color: var(--background-button-dark);
    
}

.form-options {
    display: flex;
    justify-content: center;
    align-items: center;
    animation-duration: 2s;
    animation-name: slideout;
    margin-right: 7rem;
}

.radios {
    width: 20rem;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
}

.form-selects {
    margin-left: 5rem;
}

.quantidade {
    width: 100px;
}

label{
    color: var(--white);
}

footer {
    width: 100%;
    padding: 1rem;
    display: flex;
    background-color: var(--white);
    opacity: 0.6;

    position: fixed;
    bottom: 0;
}

footer div {
    width: 100%;
    text-align: right;
}

footer span {
    font-size: 1.1rem;
    font-weight: 600;
    font-family: 'Hind', sans-serif;
}

/* modal 1*/
.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* background: rgba(255, 255, 255, 0.171); */
    background: var(--white);
    padding: 1rem;
    /* width: 90%; */
    width: 50%;
    position: relative;
    z-index: 2;
    border-radius: 0.6rem;
  }

.modal-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
  
    position: fixed;
    top: 0;
  
    display: flex;
    align-items: center;
    justify-content: center;
    /*regra de CSS para esconder a caixa*/
    opacity: 0;
    visibility: hidden;
    transition: 0.4s;
  }
  
.modal-overlay.active {
    /*regra de CSS para mostra a caixa*/
    opacity: 1;
    visibility: visible;
    z-index: 999;
  }

ul {
      width: 100%;
      margin-bottom: 1rem;
  }

.ticket-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 8px rgb(0 0 0 / 16%);
    transition: box-shadow .2s;
}

.option-ticket:hover {
    background-color: #f1f3f5
}

.option-ticket {
    font-size: 1.6rem;
    width: 100%;
    height: 6rem;
    /* margin: 1px; */

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--white);
    border-radius: 8px;
}

.option-ticket p img {
    margin: 0px 5px;
}

.buy-ticket span{
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 600;
    margin-bottom: 5px;
}

.buy-ticket {
    padding: 10px;
    border-radius: 8px;
    /* box-shadow: 2px 2px 2px 2px red; */
    background-color: var(--white);
    margin-bottom: 1px;
}

.button {
    font-size: 1rem;
    font-family: 'Barlow', sans-serif;;
    font-weight: bold;
    border-radius: 8px;
  
    height: 46px;
    width: 100px;
    
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    transition: 0.4s;
    text-decoration: none;
}

.cancel {
    color: var(--white);
    background-color: var(--red);
    /* margin-top: 1rem; */
}

.cancel:hover {
    background-color: var(--red-dark);
}

.buy {
    color: var(--white);
    background-color: var(--green);
}

.buy:hover {
    background-color: var(--green-dark);
}

.return {
    border: 2px solid var(--red);
    color: var(--red);
    opacity: 0.8;
}

.return:hover {
    opacity: 1;
}

.input-card {
    color: black;
}

.input-card input {
    color: #000;
    background-color: whitesmoke;
}

.labels {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 1rem;
}

.buttons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;

}