* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hind', sans-serif;
}

select, option, span, label, input {
    font-family: 'Barlow';
    font-size: 1.4rem;
}

:root {
    --black: #03030F;
    --gray: #15151A;
    --text: #E5E5E5;
    --background-button: #76DB17;
    --background-button-dark: #6FCF14;
    --white: #FFF;
    --red: #db1717;
    --red-dark: #C71515;
    --yellow-dark: #C71515;
    --green: #19aa26;
    --green-dark: #003828;
}

a {
  text-decoration: none;
}

.App {
    background-image: url('./assets/background2.jpg');
    background-size: cover;
    /* background-color: var(--background-button); */
}

@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

  @keyframes slideout {
    from {
      margin-right: 100%;
      width: 300%;
    }
  
    to {
      margin-right: 0%;
      width: 100%;
    }
  }

  @keyframes slideOpacityOn {
    from {
      margin-top: 100%;
      opacity: 0;
    }
  
    to {
      margin-top: 0%;
      width: 100%;
    }
  }